<div id=Address-Layout>
    <h3 id="d1">➤ DIRECCIÓN </h3>

    <div class="text-address">
        <ul class="enum">
            <dd>Londres, 12</dd>
            <dd>1º 1a</dd>
            <dd>Barcelona 08029</dd>
        </ul>
    <h3 id="d1"> HORAS DE OFICINA </h3> 
        <ul class="enum1">
            <dd>Lunes - Jueves</dd>
            <dd>9:30 AM - 1:30 PM</dd>
            <dd>4:00 PM - 7:30 PM</dd>
            <div class="spacer"></div>
            <dd>Viernes &nbsp; 9:30 AM  - 1:30 PM</dd>
        </ul>
    <div class="spacer1"><h3 id="d1"> ☎ CONTACTO </h3> 
        <ul class="enum1">
            <dd><div id="colmail"><u><a href="mailto:correo@bufete-boufeo.com.com">correo@bufete-boufeo.com</a></u></div></dd>
            <dd>(34) 93 439 45 55</dd>
            <dd>(34) 644 151 342</dd>
        </ul>
    </div>
    </div>  
</div>