<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-2 col-sm-6">
            <h4 class="text-center"><i>{{ i18n "aboutUs" }}</i></h4>

            <div id="footl">{{ .Site.Params.about_us | safeHTML }}</div>
            <div class="vl"> </div>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <!--RECENT POSTS CODE-->
        <div class="col-md-8 col-sm-6"> 

           
            <figure>
                
                <div class="imgwrap">
                    <a href="/"><img class="imgfoot" src="{{ "../img/Bfa.jpg" | relURL }}"></a> <p class="img__description">Home</p>
               </div>
                
               <div class="imgfoot">
                <a href="../../partners/bou/"> <img class="imgfoot1" src="{{ "../img/ink-pen.jpg" | relURL }}"></a> <p class="img__description">Jose Luis</p>
                </div>   
                
                <div class="imgfoot">
                    <a href="../../practicecivil/civil/"> <img class="imgfoot2" src="{{ "../img/civil1.webp" | relURL }}"></a> <p class="img__description">Civil Law</p>
                </div>    
                
                <div class="imgfoot">
                    <a href="../../practicecom/comp/"> <img class="imgfoot3" src="{{ "../img/company 1.webp" | relURL }}"></a> <p class="img__description">Company</p>
                </div> 
                
                <div class="imgfoot">
                    <a href="../../practicebus/comp/"> <img class="imgfoot4" src="{{ "../img/business.jpg" | relURL }}"></a> <p class="img__description">Business Law</p>
                </div>
                
                <div class="imgfoot">
                    <a href="../../practicework/work/"> <img class="imgfoot5" src="{{ "../img/work 1.webp" | relURL }}"></a> <p class="img__description">Working Contracts</p>
                </div>

                <div class="imgfoot">
                    <a href="/contact/"> <img class="imgfoot6" src="{{ "../img/footer/aboutm1foot.jpg" | relURL }}"></a> <p class="img__description">Contact</p>
                </div>

                <div class="imgfoot">
                    <a href="../../partners/feo/"> <img class="imgfoot7" src="{{ "../img/ink-pen.jpg" | relURL }}"></a> <p class="img__description">Jose Antonio</p>
                </div> 
                
                <div class="imgfoot">
                    <a href="../../practiceacc/account/"> <img class="imgfoot8" src="{{ "../img/account.webp" | relURL }}"></a> <p class="img__description">Accounts</p>
                </div>
                
                <div class="imgfoot">
                    <a href="../../practicescorp/corp/"> <img class="imgfoot9" src="{{ "../img/practicelaw1.webp" | relURL }}"></a> <p class="img__description">Corporate Law</p>
                </div>

                <div class="imgfoot">
                    <a href="../../practicetax/tax/"> <img class="imgfoot10" src="{{ "../img/tax7.webp" | relURL }}"></a> <p class="img__description">Tax Law</p>
                </div>

                <div class="imgfoot">
                    <a href="../../temp/about"> <img class="imgfoot11" src="{{ "../img/footer/aboutus1foot.webp" | relURL }}"></a> <p class="img__description">About Us</p>
                </div>
                
            </figure>
            <hr class="hidden-md hidden-lg hidden-sm">   

        </div>
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-2 col-sm-6">

          <h4 class="text-center">{{ i18n "contactTitle" }}</h4>

           <div id="footl"> {{ .Site.Params.address | safeHTML }} </div>
           <div class="vla"> </div>
            <div class="footf">
	        <a href="{{ default "/contact" .Site.Params.contact_url }}" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

            <hr class="hidden-md hidden-lg hidden-sm">
                
            </div>
        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->


