<!-- Form -->
<div class="layout-form">
    <form>
      <div class="headname"> <!-- Name Heading -->
        <label for="name">Nom </label>
        <label for="cont" id="cont"> (necessari) </label>
      </div>

      <!-- Name -->
      <div class="first"> <label for="name">Nom</label> </div>
      <div class="last"> <label for="last">Cognom</label> </div>
        <input id="name" name="name" type="text" required>
        <input id="name" name="name" type="text" required>
      <!-- /Name -->

      <div class="pos"> <!-- Phone Number -->
        <label for="Ph">Número de Telèfon</label>
        <label for="Ph" id="cont"> (necessari) </label> 

      <div>  <input id="rectangle-form" name="Phone" type="text" required> </div>
      </div>

      <div class="pos1"> <!-- Mail -->
        <label for="email">Adreça de Mail</label>
        <label for="Ph" id="cont"> (necessari) </label>

        <div> <input id="rectangle-form" name="email" type="email" required> </div>
      </div>  

      <div class="pos2"> <!-- Matter -->
        <label for="email">Àrea de Pràctica</label>
        <label for="Ph" id="cont"> (necessari) </label>

        <div> <select id="rectangle-form" name="country" required>
          <option value="" class="option">Seleccioni una opció</option>
          <option value="canada" class="option">Àrea Civil</option>
          <option value="usa" class="option">Àrea Mercantil</option>
          <option value="canada" class="option">Àrea Corporativa</option>
          <option value="usa" class="option">Àrea Tributària</option>
          <option value="canada" class="option">Comptabilitat</option>
          <option value="usa" class="option">Àrea Laboral</option>
          <option value="canada" class="option">Empresa</option>
          <option value="usa" class="option">Altre</option>
        </select> 
        </div>
      </div>
    
      <div class="bform"> <!-- Send -->
        <button type="submit" class="bform1">Enviar</button>
      </div>

    </form>
  </div>
    <!-- Form -->