<!-- Form -->
<div class="layout-form">
    <form>
      <div class="headname"> <!-- Name Heading -->
        <label for="name">Nombre </label>
        <label for="cont" id="cont"> (necesario) </label>
      </div>

      <!-- Name -->
      <div class="first"> <label for="name">Nombre</label> </div>
      <div class="last"> <label for="last">Apellido</label> </div>
        <input id="name" name="name" type="text" required>
        <input id="name" name="name" type="text" required>
      <!-- /Name -->

      <div class="pos"> <!-- Phone Number -->
        <label for="Ph">Número de Teléfono</label>
        <label for="Ph" id="cont"> (necesario) </label> 

      <div>  <input id="rectangle-form" name="Phone" type="text" required> </div>
      </div>

      <div class="pos1"> <!-- Mail -->
        <label for="email">Dirección de Correo</label>
        <label for="Ph" id="cont"> (necesario) </label>

        <div> <input id="rectangle-form" name="email" type="email" required> </div>
      </div>  

      <div class="pos2"> <!-- Matter -->
        <label for="email">Área de Práctica</label>
        <label for="Ph" id="cont"> (necesario) </label>

        <div> <select id="rectangle-form" name="country" required>
          <option value="" class="option">Seleccione una opción</option>
          <option value="canada" class="option">Área Civil</option>
          <option value="usa" class="option">Área Mercantil</option>
          <option value="canada" class="option">Área Corporativa</option>
          <option value="usa" class="option">Área Tributaria/option>
          <option value="canada" class="option">Contabilidad</option>
          <option value="usa" class="option">Área Laboral</option>
          <option value="canada" class="option">Empresa</option>
          <option value="usa" class="option">Otra</option>
        </select> 
        </div>
      </div>
    
      <div class="bform"> <!-- Send -->
        <button type="submit" class="bform1">Enviar</button>
      </div>

    </form>
  </div>
    <!-- Form -->