<!-- Form -->
<div class="layout-form">
    <form>
      <div class="headname"> <!-- Name Heading -->
        <label for="name">Name </label>
        <label for="cont" id="cont"> (required) </label>
      </div>

      <!-- Name -->
      <div class="first"> <label for="name">First Name</label> </div>
      <div class="last"> <label for="last">Last Name</label> </div>
        <input id="name" name="name" type="text" required>
        <input id="name" name="name" type="text" required>
      <!-- /Name -->

      <div class="pos"> <!-- Phone Number -->
        <label for="Ph">Phone Number</label>
        <label for="Ph" id="cont"> (required) </label> 

      <div>  <input id="rectangle-form" name="Phone" type="text" required> </div>
      </div>

      <div class="pos1"> <!-- Mail -->
        <label for="email">Email Address</label>
        <label for="Ph" id="cont"> (required) </label>

        <div> <input id="rectangle-form" name="email" type="email" required> </div>
      </div>  

      <div class="pos2"> <!-- Matter -->
        <label for="email">Type of Matter</label>
        <label for="Ph" id="cont"> (required) </label>

        <div> <select id="rectangle-form" name="country" required>
          <option value="" class="option">Select an option</option>
          <option value="canada" class="option">Civil Law</option>
          <option value="usa" class="option">Business Law</option>
          <option value="canada" class="option">Corporate Law</option>
          <option value="usa" class="option">Tax Law</option>
          <option value="canada" class="option">Accountancy</option>
          <option value="usa" class="option">Employment Law</option>
          <option value="canada" class="option">Companies</option>
          <option value="usa" class="option">Other</option>
        </select> 
        </div>
      </div>

      <div class="tacbox">
        <input id="checkbox" type="checkbox" required/>
        <label for="checkbox" class="pos5"> I agree to the <a href="#">Privacy Policy</a>.</label>
      </div>

      <div class="bform"> <!-- Send -->
        <button type="submit" class="bform1">Send</button>
      </div>

    </form>
  </div>
    <!-- Form -->