{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          {{ .Site.Params.topbar.text | safeHTML }}
        </div>
        
      </div>
    
      <div>

        <ul class="language-list">

          {{ range $.Site.Home.AllTranslations }}

          <li><i><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></i></li>

          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</header>
{{ end }}
