<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    <link href="{{ "css/style.default.css" | relURL }}" rel="stylesheet" id="theme-stylesheet">
    
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <!--  FEATURES  -->

        <!-- English feat. -->

        {{ if eq $.Site.Language.LanguageName "English" }}

        {{ partial "features.html" . }}

        {{ end }}

        <!-- Cat. feat. -->

        {{ if eq $.Site.Language.LanguageName "Català" }}

        {{ partial "featurescat.html" . }}

        {{ end }}

        <!-- Cast. feat. -->

        {{ if eq $.Site.Language.LanguageName "Castellano" }}

        {{ partial "featurescast.html" . }}

        {{ end }}

        <!--  /FEATURES  -->

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        <!-- English foot. -->

        {{ if eq $.Site.Language.LanguageName "English" }}

        {{ partial "footer.html" . }}

        {{ end }}

        <!-- Cat. foot. -->

        {{ if eq $.Site.Language.LanguageName "Català" }}

        {{ partial "footercat.html" . }}

        {{ end }}

        <!-- Cast. foot. -->

        {{ if eq $.Site.Language.LanguageName "Castellano" }}

        {{ partial "footercast.html" . }}

        {{ end }}



    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
